header{
    display: flex;
    flex-direction: row;
    border-bottom: solid black;
}
main{
    border-bottom: solid black;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    list-style: none;
    padding-left: 10px;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 50pt;
}
p{
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
}
a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
}
img{
    width: 15%;
}
footer>p{
    font-size: 10pt;
}
footer>a{
    font-size: 10pt;
}
p>a{
    font-size: 10pt;
}
.margin{
    margin: 10px;
}
.HTML{
    background-color: burlywood;
}
.CSS{
    background-color: darksalmon;
}
.Linux{
    background-color: lemonchiffon;
}
.agiles{
    background-color: peachpuff;
}
.Javascript{
    background-color: wheat;
}
.color{
    color: deeppink;
}
.font{
    font-family: cursive;
}
.size{
    font-size: 50pt;
}
.bold{
    font-weight: 900;
}