header{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    list-style: none;
    padding-left: 10px;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 50pt;
}
p{
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
}
a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}